/* Global Styles */

:root {
 --background: #14213d;
 --primary: #E09F3E;
 --primary-highlight: #e09f3e9b;
 --secondary: #328CC1;
 --tertiary: #0B3C5D;
 --text-light: white;
 --text-light-secondary: #aaaaaa;
 --text-dark: black;
 --text-dark-secondary: rgb(36, 36, 36);
}


html,
body {
	height: 100%;
	width: 100%;
    background: var(--background);
    color: white;
}
#svelte {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--text-light-secondary);
}
a:hover {
	color: var(--primary);
	transform: transltaeY(1rem);
}

button {
	background: none;
	border: 1.5px solid var(--primary);
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: var(--primary);
	margin-left: 0.5rem;
	font-size: 1rem;
    transition: 0.3s ease-in;
}
button:hover {
    background:var(--primary-highlight);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.button {
    background: none;
    border: 1.5px solid var(--primary);
    border-radius: 0.5rem;
    color: var(--primary);
    transition: 0.3s ease-in;
}

.button:hover {
    background:var(--primary-highlight);
    transition: 0.3s ease-in;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    padding: 1rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    color: var(--text-light-secondary);
}

@media (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}

