/* Global Styles */
html,
body {
	height: 100%;
	width: 100%;
    background: #14213d;
    color: white;
}
#svelte {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.445);
}
a:hover {
	color: aquamarine;
	transform: transltaeY(1rem);
}

button {
	background: none;
	border: 1.5px solid aquamarine;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: aquamarine;
	margin-left: 0.5rem;
	font-size: 1rem;
    transition: 0.3s ease-in;
}
button:hover {
    background:rgba(105, 209, 174, 0.26);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.button {
    background: none;
    border: 1.5px solid aquamarine;
    border-radius: 0.5rem;
    color: aquamarine;
    transition: 0.3s ease-in;
}

.button:hover {
    background:rgba(105, 209, 174, 0.26);
    transition: 0.3s ease-in;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    padding: 1rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    color: #e0fbfc;
}

@media (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}

